<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.freemadao.mapper.UserMapper">
    <resultMap id="userMap" type="cn.freemadao.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="findByUserName"  resultMap="userMap">
        select * from sys_user where username = #{userName}
    </select>
    <select id="findById" parameterType="Integer" resultMap="userMap">
        select * from sys_user where id = #{id}
    </select>
    <select id="findAll" resultMap="userMap">
        select * from sys_user
    </select>
    <select id="findAllAmount"  resultType="Integer">
        select count(*) from sys_user
    </select>


    <delete id="delete"  parameterType="Integer">
        delete from sys_user where id = #{id}
    </delete>
    <update id="update" parameterType="User">
        update sys_user
        <set>
            <if test="username != null and username != ''">
                username = #{userName}
            </if>
            <if test="password != null and password != ''">
                password = #{password}
            </if>
            <if test="createTime != null and createTime != ''">
                createTime = #{createTime}
            </if>
            <if test="status != null and status != ''">
                status = #{status}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--权限-->
    <resultMap id="permission" type="cn.freemadao.utils.model.One2Many">
        <id column="userId" property="userId"/>

        <result column="roleId" property="roleId"/>
        <result column="roleName" property="roleName"/>
        <collection property="menuList" ofType="String">
            <id column="menuCode" property="menuCode"/>
        </collection>
        <collection property="permissionList" ofType="String">
            <id column="permissionCode" property="permissionCode"/>
        </collection>
    </resultMap>
    <select id="getPermission" resultMap="permission">
        SELECT
            u.id              userId,

            u.role_id         roleId,
            r.role_name       roleName,
            p.menu_code       menuCode,
            p.permission_code permissionCode
        FROM sys_user u
                 LEFT JOIN sys_role r ON r.id = u.role_id
                 LEFT JOIN sys_role_permission rp ON u.role_id = rp.role_id
                 LEFT JOIN sys_permission p ON rp.permission_id = p.id
        WHERE u.username = #{username}
    </select>

    <select id="getUserList" resultType="HashMap">
        select
            U.id,
            username,
            R.role_name roleName,
            DATE_FORMAT(R.create_time, '%Y-%c-%d %T') createTime,
            DATE_FORMAT(R.update_time, '%Y-%c-%d %T') updateTime,
            role_id,
            r.role_name
        from
        sys_user  U left join sys_role R on  U.role_id = R.id
    </select>
    <resultMap id="RoleMap" type="cn.freemadao.entity.Role">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="getAllRoles" resultMap="RoleMap">
        select
            id, role_name ,create_time, update_time
        from sys_role where status = '1'
    </select>
<!--    新增用户-->
    <insert id="create" parameterType="User">
        insert into sys_user(
            username,password, create_time,status, role_Id
        )
        values(
            #{userName}, #{password}, #{createTime}, #{status}, #{roleId}
        )
    </insert>
</mapper>